.profile-record {
    color: rgb(130, 202, 130);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    height: auto;
    margin: .5em;
    padding: 1em;
    background-color: rgba(255,255,255, .09);
    border: 4px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow:  0 -1px 15px rgb(16, 17, 17);
    
}

.profile-form {
    color: rgb(130, 202, 130);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    margin-left: .5em;
    margin-right: .5em;
}

.roles {
    
    margin: .5em;
    padding:1em;
}




.btn-profile {
    float: left;
    width: auto;
    margin-right: .3em;
    margin-bottom: .3em;
}

.contact-left-col {
    float: left;
}


.contact-right-col {
    float: left;
    margin-left: 2em;
    
}

.disabled {
    margin-left: 1em;
}

