.thumbnail {
    width: auto;
    float: left;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    margin: .5em;
    padding: 1em;
    background-color: rgba(255,255,255, .09);
    border: 4px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow:  0 -1px 15px rgb(16, 17, 17);
    
}

.thumbnail-pic {
    border-radius: 4px;
    margin-top: .5em;
}