.App {
    background-color: #191b19;
    min-height: 100vh;
    font-size: calc(12px + 1vmin);
    color: rgb(203, 206, 203);
}

.topnav{
    display: flex;
    background-color: rgba(255,255,255, .09);
    box-shadow:  0 -1px 15px rgb(16, 17, 17);
    border: 0px ;
}

.childnav{
    flex: 1;
   
}

.listnav-1 {
    list-style-type: none;
    overflow: hidden;
    float: left;
    margin: 0px;
    padding: 0px;
    }

.listnav-2 {
    list-style-type: none;
    overflow: hidden;
    float: right;
    margin: 0px;
    padding: 0px;
    }
    
.list-item-nav {
    float:left; 
}



.link-nav, .link-nav:visited {
    color: #218b17;
    font-size: calc(12px + 1vmin);
    display: block;
    padding: 12px;  
}

.link-nav:hover, .link-nav:focus {
    text-decoration: none;
    background-color: #191b19;
}

.active, .active:visited{
    box-shadow: inset 0 -1px 35px rgb(2, 94, 63);
    text-decoration: none;
    font-size: calc(12px + 1vmin);
    color: rgb(203, 206, 203);
    background-color: #218b17; 
    
}

.container {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    
}

a {
    color: #9821bd;
    
    text-decoration: none;
    font-size: calc(12px + 1vmin);
}

a:visited {
    color: #6b1885;  
}

a:hover, a:focus{
    text-decoration: underline;
}



h3 {
    color: rgb(130, 202, 130);
}

strong {
    color:#218b17;
}

hr {
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-top: 1px solid rgb(73, 73, 73);
}

