:root {
    --background: #131313;
    --border: rgba(0,0,0,0.3);

    --primary: #259c1a; 
    --primary-shade: rgb(1, 119, 60);
    --primary-hover: #016d16;
    --primary-hover-shade: rgb(1, 39, 26);

    --secondary: #af35d4;
    --secondary-shade: rgb(108, 1, 134);
    --secondary-hover: #7f1a9e;

    --alert: #d45726;
    --alert-shade: rgb(136, 16, 1);
    --alert-hover: #691f01;
    --alert-hover-shade: rgb(99, 12, 0);

    --disabled: #292726;
    --disabled-shade: rgb(14, 13, 13);

    --text: rgb(183, 185, 183);
    --text-h2: rgb(203, 206, 203);
    --text-h3: #82CA82;
    --text-disabled: rgb(110, 112, 110);
}

.App {
    display: flex;
    background-color: var(--background);
    min-height: 100vh;
    font-size: calc(12px + 1vmin);
    color: var(--text)
}

.container {
    text-align: left;
    display: flex;
    width: 100vw;
    flex-direction: column;
    padding: 10px;
    padding-top: 60px;
    margin: 10px;
    
}

.containerDrawer{
    text-align: left;
    display: flex;
    width: 100vw;
    flex-direction: column;
    padding: 10px;
    padding-top: 60px;
    margin: 10px;
    margin-left: 12vw; /* makes room for drawer */
}

a {
    color: var(--secondary);
    
    text-decoration: none;
    font-size: calc(12px + 1vmin);
}

a:visited {
    color: var(--secondary);  
}

a:hover, a:focus{
    text-decoration: underline;
}

h2 {
    color: var(--text-h2);
}

h3 {
    color: var(--text-h3)
}

strong {
    color:var(--primary);
}

hr {
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-top: 1px solid rgb(73, 73, 73);
}

button { 
    background-color: var(--primary); 
    color: var(--text-h2);
    font-size: calc(12px + 1vmin);
    width: 100%;
    padding: .5em 1em;
    line-height: normal; 
    border: 1px solid var(--border);
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: inset 0 -1px 35px var(--primary-shade)

}

button:hover, button:focus { 
   
    background-color: var(--primary-hover); 
    outline:none;
    transition: background-position 0.1s linear; 
    box-shadow: inset 0 -1px 45px var(--primary-hover-shade);
}

button:disabled {
    background-color: var(--disabled); 
    color: var(--text-disabled);
    outline:none;
    transition: background-position 0.1s linear; 
    box-shadow: inset 0 -1px 35px var(--disabled-shade);
    cursor: not-allowed;
}

select, select:hover {
    background-color: #717171;
    color: var(--text-h2)
  }
  
  option {
    color: var(--text-h2);
    background-color: rgb(34, 36, 34);

  }

.success {
    color:var(--primary);
    border: 1px solid var(--primary);
    border-radius: 4px;
    width: 100%;
    padding: .5em 1em;
    margin-top: .6em;
}

.alert {
    color:var(--alert);
    border-radius: 4px;
    border: 1px solid var(--alert);
    margin-bottom: 10px;
    margin-top: .6em;
    padding: .5em 1em;
}

.form {
    margin-top: 1em;
    width:auto;
    align-self: center;
    
}

.form-control {
    width: 100%; 
    margin-bottom: .3em; 
    background: var(--border);
    outline: none;
    padding: .5em 1em;
    color: var(--text-h2);
    font-size: calc(12px + 1vmin);
    text-shadow: 1px 1px 1px var(--border);
    box-sizing: border-box;
    border: 1px solid var(--border);
    border-radius: 4px;
    box-shadow: inset 0 -1px 45px rgb(78, 80, 78);
}

input:focus { 
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0px 2px 2px rgba(233, 230, 230, 0.2); 
}

.button { 
    background-color: var(--primary); 
    color: var(--text-h2);
    font-size: calc(12px + 1vmin);
    width: 100%;
    padding: .5em 1em;
    line-height: normal; 
    border: 1px solid var(--border);
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: inset 0 -1px 35px var(--primary-shade)

}

.button:hover, .button:focus { 
   
    background-color: var(--primary-hover); 
    outline:none;
    transition: background-position 0.1s linear; 
    box-shadow: inset 0 -1px 45px var(--primary-hover-shade);
}

.button:disabled {
    background-color: var(--disabled); 
    color: var(--text-disabled);
    outline:none;
    transition: background-position 0.1s linear; 
    box-shadow: inset 0 -1px 35px var(--disabled-shade);
    cursor: not-allowed;
}

.btn-alert { 
    background-color: var(--alert); 
    color: var(--text-h2);
    font-size: calc(12px + 1vmin);
    width: 100%;
    padding: .5em 1em;
    line-height: normal; 
    border: 1px solid var(--border);
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: inset 0 -1px 35px var(--alert-shade);

}

.btn-alert:hover, .btn-alert:focus { 
   
    background-color: var(--alert-hover); 
    outline:none;
    transition: background-position 0.1s linear; 
    box-shadow: inset 0 -1px 45px var(--alert-hover-shade);
}

.btn-cancel {
    background-color: var(--secondary);
    box-shadow: inset 0 -1px 35px var(--secondary-shade);
}

.btn-cancel:hover, .btn-cancel:focus { 
   
    background-color: var(--secondary-hover); 
    outline:none;
    transition: background-position 0.1s linear; 
}

.btn-disabled {
    background-color: var(--disabled); 
    color: var(--text-disabled);
    outline:none;
    transition: background-position 0.1s linear; 
    box-shadow: inset 0 -1px 35px var(--disabled-shade);
    cursor: not-allowed;
}



.top-column {
    display: flex;
}

.child-column {
    flex: 1
}

.btngroup {
    float: right;
    margin-top: .6em;
    
}

